# neovim::
lua/packer_compiled.lua
profile.json
snippets/
inbox.norg
start.txt
.session.vim

# Notes::
.quicknote/

# cli/NIX shizzle::
result
target/
packages.json
tags

# Tests/Hooks/Checks::
.direnv/
tests/
/.pre-commit-config.yaml
